@charset 'utf-8';

.tabWrap_animation {
  width: 100%;
  background: #000;

  .sell {
    position: relative;
    width: 100%;
    height: 320px;

    &.on {
      display: block;
    }
  }

  .animation-box {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;

    .car {
      display: block;

      .line.on {
        display: block;
        @include prefix(animation, opacity-ac 1s ease-out);
        animation-iteration-count: 1;
      }
    }

    .car03 {
      display: block;
    }
  }
}

// 1. Front Cross Traffic Assist
.sell-animation00 {
  .animation-00 {
    background-image: url($image-url+'technology-animation/animation-bg00.jpg');
  }

  .pic {
    position: absolute;
    top: -20px;
    left: -20px;

    &01,
    &02 {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .car {
    display: none;
    position: relative;
    width: 210px;
    height: 100px;
    margin-top: -50px;
    margin-left: 155px;

    &>* {
      @include prefix(transform, scale(0.8));
    }

    .car01 {
      @include prefix(transform, scale(0.68));
    }
  }

  .car02 {
    position: absolute;
    top: 0;
    left: 152px;
  }

  .car03 {
    display: none;
    position: absolute;
    top: -250px;
    left: 484px;
  }

  .round-01 {
    position: absolute;
    top: -49px;
    left: 4px;
    display: none;
  }

  .round-02 {
    position: absolute;
    top: 32px;
    left: 267px;
    display: none;
  }

  .round-03 {
    position: absolute;
    top: -60px;
    left: 257px;
    display: none;
  }

  &.on {
    .car {
      display: block;
      @include prefix(animation, car-00 15s linear);
      animation-iteration-count: infinite;
    }

    .car03.on {
      display: block;
      @include prefix(animation, sub-car-00 2s ease-out);
      animation-iteration-count: 1;
    }
  }
}

// 3. Adaptive Cruise Control (ACC)
.sell-animation02 {
  .animation-02 {
    background-image: url($image-url+'technology-animation/animation-bg.jpg');

    .car {
      position: absolute;
      top: -16px;
      left: 320px;

      .circle {
        display: block;
        position: relative;
        top: -360px;
        left: -360px;
        @include prefix(animation, circle-01 0.7s linear);
        animation-iteration-count: infinite;
      }

      .car01 {
        position: relative;
        top: 55px;
        left: -334px;
      }
    }

    .car02 {
      position: absolute;
      top: 40px;
      right: -140px;
    }

    .cruis-km {
      position: absolute;
      bottom: 30px;
      right: 50px;
    }
  }
}

// 4. Traffic Jam Assist
.sell-animation03 {
  .animation-03 {
    background-image: url($image-url+'technology-animation/animation-bg.jpg');
    @include prefix(animation, bgmove 10s ease-out);
    animation-iteration-count: infinite;
  }

  .car {
    position: absolute;
  }

  .km60 {
    position: absolute;
    bottom: 25px;
    right: 35px;
  }

  .car01 {
    position: absolute;
    top: 40px;
    left: -10px;
    z-index: 5;
  }

  .car02 {
    position: absolute;
    top: 40px;
    left: 315px;
    z-index: 5;
  }

  .cars {
    position: absolute;
    top: -136px;
    left: 70px;
  }

  .circle {
    position: absolute;
    top: -100px;
    left: 80px;
    width: 400px;
    height: 500px;
    @include prefix(animation, circle-01 0.7s ease-out);
    animation-iteration-count: infinite;
  }

  &.on {
    .car {
      @include prefix(animation, ani-03 10s ease-out);
      animation-iteration-count: infinite;
      // animation-delay: 2s;
    }

    .car02 {
      @include prefix(animation, ani-03 10s ease-out);
      animation-iteration-count: infinite;
      // animation-delay: 1s;
    }

    .cars {
      @include prefix(animation, ani-03 10s ease-out);
      animation-iteration-count: infinite;
    }
  }
}

// 5. Predictive Pedestrian Monitoring
.sell-animation04 {
  .animation-04 {
    background-image: url($image-url+'technology-animation/animation-bg04.jpg');
  }

  .car {
    position: absolute;
    display: none;
  }

  .car01 {
    position: absolute;
    top: 40px;
    z-index: 5;
  }

  .circle {
    position: absolute;
    top: -100px;
    left: 80px;
    width: 400px;
    height: 500px;
  }

  .people {
    position: absolute;
    bottom: 90px;
    right: 113px;
    /* opacity:0; */
    display: none;
    z-index: 5;
  }

  &.on {
    .people {
      opacity: 1;
      display: block;

      @include prefix(animation, people-ac 6s linear);
      animation-iteration-count: infinite;
    }

    .car {
      display: block;
      @include prefix(animation, car-04 6s ease-out);
      animation-iteration-count: infinite;
    }

    .circle {
      display: none;

      &.on {
        display: block;
        @include prefix(animation, circle-01 0.7s ease-out);
        animation-iteration-count: infinite;
      }
    }
  }
}

// 6. Lane Assist
.sell-animation05 {
  .animation-05 {
    background-image: url($image-url+'technology-animation/animation-bg-empty.jpg');
    @include prefix(animation, loopBg 1.5s linear);
    animation-iteration-count: infinite;
    animation-delay: 1s;

    &.on {
      background-image: url($image-url+'technology-animation/animation-bg.jpg');
    }
  }

  .car {
    position: absolute;
    top: 30px;
    left: 50px;

    .car01 {
      position: absolute;
      top: 70px;
      left: 0px;
      transform: translateY(-60px);
    }

    .circle {
      position: absolute;
      top: -180px;
      left: -40px;
      display: none;

      &.on {
        display: block;
        @include prefix(animation, circle-01 1s ease-out);
        animation-iteration-count: 6;
      }
    }

    .line {
      position: absolute;
      top: 118px;
      left: 300px;
      opacity: 0;
    }
  }

  .dot-line {
    position: absolute;
    top: 77px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;

    &.last {
      position: absolute;
      top: auto;
      bottom: 87px;
    }
  }

  .pic01,
  .pic02 {
    position: absolute;
    top: -20px;
    right: -20px;
  }

  .pic02 {
    opacity: 0;
  }
}

@keyframes circle-01 {
  from {
    transform: scale(0.8);
    opacity: 1;
  }

  90% {
    transform: scale(1.1);
    opacity: 0;
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

@-ms-keyframes circle-01 {
  from {
    -ms-transform: scale(0.8);
    opacity: 1;
  }

  90% {
    -ms-transform: scale(1.1);
    opacity: 0;
  }

  100% {
    -ms-transform: scale(1.1);
    opacity: 0;
  }
}

@-webkit-keyframes circle-01 {
  from {
    -webkit-transform: scale(0.8);
    opacity: 1;
  }

  90% {
    -webkit-transform: scale(1.1);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1.1);
    opacity: 0;
  }
}

@-moz-keyframes circle-01 {
  from {
    -moz-transform: scale(0.8);
    opacity: 1;
  }

  90% {
    -moz-transform: scale(1.1);
    opacity: 0;
  }

  100% {
    -moz-transform: scale(1.1);
    opacity: 0;
  }
}

@-o-keyframes circle-01 {
  from {
    -o-transform: scale(0.8);
    opacity: 1;
  }

  90% {
    -o-transform: scale(1.1);
    opacity: 0;
  }

  100% {
    -o-transform: scale(1.1);
    opacity: 0;
  }
}

@keyframes loopBg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -906px 0;
  }
}

@-webkit-keyframes loopBg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -906px 0;
  }
}

@-moz-keyframes loopBg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -906px 0;
  }
}

@-o-keyframes loopBg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -906px 0;
  }
}

@-ms-keyframes loopBg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -906px 0;
  }
}

@keyframes opacity-ac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes opacity-ac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes opacity-ac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes opacity-ac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes opacity-ac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blink {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-ms-keyframes blink {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes car-00 {
  from {
    margin-top: 0;
    margin-left: 130px;
    transform: rotate(-90deg);
  }

  10%,
  15% {
    margin-top: 0;
    margin-left: 130px;
    transform: rotate(-90deg);
  }

  30%,
  45% {
    margin-top: 50px;
    margin-left: 30px;
    transform: rotate(0deg);
  }

  55%,
  75% {
    margin-top: 50px;
    margin-left: 180px;
    transform: rotate(0deg);
  }

  86% {
    margin-top: 38px;
    margin-left: 480px;
    transform: rotate(-85deg);
  }

  92%,
  100% {
    margin-top: -100px;
    margin-left: 480px;
    transform: rotate(-95deg);
  }
}

@keyframes sub-car-00 {
  from {
    top: -250px;
  }

  to {
    top: 450px;
  }
}


@keyframes ani-03 {
  from {
    margin-left: 0;
  }

  20% {
    margin-left: 10px;
  }

  30%,
  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes ani-03 {
  from {
    margin-left: 0;
  }

  20% {
    margin-left: 10px;
  }

  30%,
  100% {
    margin-left: 0px;
  }
}

@-moz-keyframes ani-03 {
  from {
    margin-left: 0;
  }

  20% {
    margin-left: 10px;
  }

  30%,
  100% {
    margin-left: 0px;
  }
}

@-o-keyframes ani-03 {
  from {
    margin-left: 0;
  }

  20% {
    margin-left: 10px;
  }

  30%,
  100% {
    margin-left: 0px;
  }
}

@-ms-keyframes ani-03 {
  from {
    margin-left: 0;
  }

  20% {
    margin-left: 10px;
  }

  30%,
  100% {
    margin-left: 0px;
  }
}

@keyframes bgmove {
  from {
    background-position: 0 0;
  }

  50%,
  100% {
    background-position: -1560px 0;
  }
}

@-webkit-keyframes bgmove {
  from {
    background-position: 0 0;
  }

  50%,
  100% {
    background-position: -1560px 0;
  }
}

@-moz-keyframes bgmove {
  from {
    background-position: 0 0;
  }

  50%,
  100% {
    background-position: -1560px 0;
  }
}

@-o-keyframes bgmove {
  from {
    background-position: 0 0;
  }

  50%,
  100% {
    background-position: -1560px 0;
  }
}

@-ms-keyframes bgmove {
  from {
    background-position: 0 0;
  }

  50%,
  100% {
    background-position: -1560px 0;
  }
}

@keyframes car-04 {
  from {
    margin-left: -600px;
  }

  20% {
    margin-left: 50px;
  }

  40%,
  100% {
    margin-left: 80px;
  }
}

@-webkit-keyframes car-04 {
  from {
    margin-left: -600px;
  }

  20% {
    margin-left: 50px;
  }

  40%,
  100% {
    margin-left: 80px;
  }
}

@keyframes people-ac {
  from {
    opacity: 0;
    bottom: 70px;
  }

  20%,
  100% {
    opacity: 1;
    bottom: 90px;
  }
}

@-webkit-keyframes people-ac {
  from {
    opacity: 0;
    bottom: 70px;
  }

  20%,
  100% {
    opacity: 1;
    bottom: 90px;
  }
}

@-ms-keyframes people-ac {
  from {
    opacity: 0;
    bottom: 70px;
  }

  20%,
  100% {
    opacity: 1;
    bottom: 90px;
  }
}

@-moz-keyframes people-ac {
  from {
    opacity: 0;
    bottom: 70px;
  }

  20%,
  100% {
    opacity: 1;
    bottom: 90px;
  }
}